Repository YusukeHosonuma/SwiftPrettyPrint, pull requests merged in 2020-03, with the labels that each got.

#68 fix indention of values which are object and have multiple member
  Sources/Core/Formatter/MultilineFormatter.swift
  Tests/Core/Formatter/MultilineFormatterTests.swift
Labels: 1.0.0, bug

#69 add tuple support
  Sources/Core/Formatter/MultilineFormatter.swift
  Sources/Core/Formatter/PrettyFormatter.swift
  Sources/Core/Formatter/SinglelineFormatter.swift
  Sources/Core/Pretty.swift
  Tests/Core/Formatter/MultilineFormatterTests.swift
  Tests/Core/Formatter/SinglelineFormatterTests.swift
  Tests/Core/PrettyTests.swift
Labels: 1.0.0, feature: formatter, feature: public-api, feature: type

#90 welcome: develop for Linux with docker on mac
  Makefile
Labels: development tools

#92 implement new line for brace
  Sources/Core/Formatter/MultilineFormatter.swift
  Tests/SwiftPrettyPrintTests/Core/Formatter/MultilineFormatterTests.swift
  Tests/SwiftPrettyPrintTests/Public/DebugTests.swift
Labels: feature: formatter
